@import "../../variables.scss";

.Login {
  background-color: $peach-light;
  overflow-y: hidden;

  .title {
    line-height: 1.5;
    color: $accent;
    letter-spacing: 2px;
  }

  .subtitle {
    text-transform: uppercase;
    color: $white;
  }

  button {
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: $utility;
    color: $peach-light;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover {
      background-color: $peach-dark;
      color: $white;
    }
  }
}
