@import "../../variables.scss";

.NavTopBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5vh;

  .logo {
    height: 50%;
  }

  .title {
    color: $accent;
    font-weight: 200;
    font-style: italic;
  }
}
