@import "../../variables.scss";

.Sidebar {
  font-family: $font-family-raleway;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $alabaster;

  a {
    color: $alabaster;
  }

  .SideBarItem {
    a {
      padding: 10px 0;
      line-height: 2rem;
      border-left: 5px transparent solid;
      color: #7e8698;
    }

    .sidebar-active {
      border-color: $peach-light;
      color: $white;
      background-color: #1d2027;
    }
  }

}
