@import "../../variables.scss";

.Sidebar {
  font-family: $font-family-raleway;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $alabaster;

  a {
    color: $alabaster;
  }

  .sidebar-active {
    // border-left: 1rem #f09465 solid;
    color: #ff625f;
  }
}
