@import "./variables.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400|Raleway:300,300i,400');

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-open-sans;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 15%) 1fr;
  grid-template-rows: minmax(75px, 7.5vh) 1fr;
  grid-template-areas:  "navTopBar topBar"
                        "navigation main"
                        "navigation main";
  &.transaction-mode {
    grid-template-columns: minmax(250px, 15%) 1fr 25%;
    grid-template-rows: minmax(75px, 7.5vh) 1fr;
    grid-template-areas:  "navTopBar topBar topBar"
                          "navigation main sidePane"
                          "navigation main sidePane";
  }
}

.side-pane {
  @extend %sticky;
  grid-area: sidePane;
  padding: 1rem;
  input, select, .select {
    width: 100%;
  }
}

.nav-top-bar {
  background-color: $peach-dark;
  grid-area: navTopBar;
}

.top-bar {
  background-color: $peach-light;
  grid-area: topBar;
}

.sidebar {
  grid-area: sidebar;
}

.navigation {
  @extend %sticky;
  // padding: 30px 10px;
  grid-area: navigation;
  height: 100vh;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  padding-top: 0;
  padding-bottom: 0;
}

%sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

%is-blockstack {
  background-color: $blockstack-primary;
  color: $white;
}


.hero {
  &.is-blockstack {
    @extend %is-blockstack;
  }
}

.is-alabaster {
  background-color: $alabaster;
}

.is-bastille {
  background-color: $bastille;
}

.is-prim {
  background-color: $prim;
}

.is-full-height {
  min-height: 100vh;
}

.react-datepicker-popper {
  min-width: 350px;
}
