$blockstack-primary: #270f34;
$light-grey: #eee4ee;
$white: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

%is-blockstack {
  background-color: $blockstack-primary;
  color: $white;
}


.hero {
  &.is-blockstack {
    @extend %is-blockstack;
  }
}

.is-light-grey {
  background-color: $light-grey;
}

.is-full-height {
  min-height: 100vh;
}
