$alabaster: #f8f8fd;
$blockstack-primary: #270f34;
$prim: #e5e4ef;
$white: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

%is-blockstack {
  background-color: $blockstack-primary;
  color: $white;
}


.hero {
  &.is-blockstack {
    @extend %is-blockstack;
  }
}

.is-alabaster {
  background-color: $alabaster;
}

.is-prim {
  background-color: $prim;
}

.is-full-height {
  min-height: 100vh;
}
