$alabaster: #eff0f0;
$bastille: #262a33;
$blockstack-primary: #270f34;
$link-blue: #3273dc;
$prim: #e5e4ef;
$white: #fff;
$peach-light: #f77b6e;
$peach-dark: #e9695c;

$font-family-raleway: 'Raleway', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-sans-serif: sans-serif;
