$alabaster: #f8f8fd;
$bastille: #262a33;
$blockstack-primary: #270f34;
$link-blue: #3273dc;
$prim: #e5e4ef;
$white: #fff;

$font-family-raleway: 'Raleway', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-sans-serif: sans-serif;
