@import "../../index.scss";

.Portfolio {
  .SingleHoldingLayout {
    display: flex;
    flex-wrap: wrap;

    .SingleHolding {
      width: 33%;
      min-width: 300px;
      padding: 15px;
      box-sizing: border-box;

      .link-style {
        font-family: $font-family-source-sans-pro;
        color: $peach-dark;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }
}
